* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

button {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: transparent;
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(85, 84, 84, 0.192);
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

.logo {
  padding-left: 20px;
  font-size: 25px;
  color: #5079f8;
  text-decoration: none;
  font-weight: bold;
}

.fa-coins {
  font-size: 22px;
  color: gold;
}

a {
  text-decoration: none;
  color: #222630;
  font-weight: bold;
}

.log-in:hover {
  background-color: #e9e9e9;
}

.sign-up {
  color: #fffcfc;
  background-color: #5079f8;
}

.sign-up:hover {
  background-color: #3760dc;
}

.box-design {
  background-color: rgba(255, 255, 255, 0.737254902);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px rgba(85, 84, 84, 0.192);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

body {
  background-color: #d2e1ff;
  background-image: url(../img/login-bg2.svg);
  background-position: center center;
}

.login-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 400px;
  transform: translate(-50%, -50%);
}
.login-box a .back {
  position: absolute;
  top: -56px;
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  align-items: center;
}
.login-box .logo {
  display: flex;
  padding: 20px 0px 0px;
}
.login-box .logo p {
  width: 100%;
  text-align: center;
}
.login-box .logo p i {
  padding: 5px;
}
.login-box .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 0px 0px;
  width: 100%;
}
.login-box .form form input {
  margin: 0px 0px 20px;
  padding-left: 10px;
  width: 70%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
}
.login-box .form form .login-links {
  display: flex;
  flex-direction: column-reverse;
  height: 100px;
}

@media (min-width: 1200px) {
  body {
    background-position: -200px -450px;
  }
  .login-box {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 400px;
  }
  .login-box .logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 50%;
    height: 400px;
  }
  .login-box .logo a,
  .login-box .logo i,
  .login-box .logo p {
    font-size: 70px;
    margin-right: 5px;
  }
  .login-box .form {
    height: 100%;
    display: flex;
    width: 500px;
  }
  .login-box .form form {
    align-items: start;
    margin: 0;
    padding: 0;
  }
  .login-box .form form input {
    position: relative;
    top: 43%;
    display: flex;
    align-items: start;
    height: 50px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(85, 84, 84, 0.192);
    transform: translate(0%, -50%);
  }
  .login-box .form form .sign-up {
    position: relative;
    left: 72%;
    top: 10%;
  }
  .login-box .form form .login-links {
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-between;
    top: 42%;
    margin: 0px;
    padding: 0px 20px 0px 0px;
    width: 100%;
  }
}/*# sourceMappingURL=login.css.map */