@use './main-styles';
@use './colors' as c;

body {
	background-color: #d2e1ff;
	background-image: url(../img/login-bg2.svg);
	background-position: center center;
}

.login-box {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 50%;
	width: 320px;
	height: 400px;
	transform: translate(-50%, -50%);
	a {
		.back {
			position: absolute;
			top: -56px;
			display: flex;
			justify-content: center;
			width: 48px;
			height: 48px;
			align-items: center;
		}
	}
	.logo {
		display: flex;
		padding: 20px 0px 0px;
		p {
			width: 100%;
			text-align: center;
			i {
				padding: 5px;
			}
		}
	}
	.form {
		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 50px 0px 0px 0px;
			width: 100%;
			input {
				margin: 0px 0px 20px;
				padding-left: 10px;
				width: 70%;
				height: 2.5rem;
				border: none;
				border-radius: 5px;
			}
			.login-links {
				display: flex;
				flex-direction: column-reverse;
				height: 100px;
			}
		}
	}
}

@media (min-width: 1200px) {
	body {
		background-position: -200px -450px;
	}
	.login-box {
		display: flex;
		flex-direction: row;
		width: 1000px;
		height: 400px;
		.logo {
			display: flex;
			justify-content: center;
			flex-direction: row;
			align-items: center;
			padding: 0;
			width: 50%;
			height: 400px;
			a,
			i,
			p {
				font-size: 70px;
				margin-right: 5px;
			}
		}
		.form {
			height: 100%;
			display: flex;
			width: 500px;
			form {
				align-items: start;
				margin: 0;
				padding: 0;
				input {
					position: relative;
					top: 43%;
					display: flex;
					align-items: start;
					height: 50px;
					width: 300px;
					box-shadow: c.$shadow;
					transform: translate(0%, -50%);
				}
				.sign-up {
					position: relative;
					left: 72%;
					top: 10%;
				}
				.login-links {
					position: relative;
					flex-direction: row-reverse;
					justify-content: space-between;
					top: 42%;
					margin: 0px;
					padding: 0px 20px 0px 0px;
					width: 100%;
				}
			}
		}
	}
}
