* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #343a46;
}

//Used many times classes

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

img {
	width: 200px;
	height: 200px;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.logo {
	padding-left: 20px;
	font-size: 25px;
	color: rgb(98, 132, 234);
	text-decoration: none;
	font-weight: bold;
}
.fa-coins {
	font-size: 22px;
	color: gold;
}

.product-info {
	position: absolute;
	left: 50%;
	top: 50px;
	text-align: center;
	transform: translate(-50%, 0%);
	h3 {
		font-size: 18px;
		font-weight: normal;
	}
	h2 {
		letter-spacing: 1px;
		padding: 15px;
		font-size: 42px;
	}
	p {
		font-size: 14px;
	}
}

.grid-container {
	display: grid;
	position: absolute;
	width: 1000px;
	top: 200px;
	left: 50%;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	grid-gap: 15px;
	transform: translate(-50%, 0%);
}

.card {
	overflow: hidden;
	padding: 30px;
	height: 500px;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.379);
}

.card:nth-child(1) {
	grid-column: 1 / span 2;
}

.card:nth-child(n + 4) {
	grid-column: auto;
}

.card:nth-child(3n + 1) {
	grid-column: 1 / span 2;
}

//Main landing page, contains navbar and a catch phrase, as well button that redirects to account creation

.welcomeBox {
	position: relative;
	height: 700px;
	background-color: #d2e1ff;
	.header {
		position: absolute;
		left: 50%;
		top: 2%;
		width: 70%;
		height: 80px;
		border-radius: 20px;
		background-color: #ffffff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.379);
		transform: translate(-50%, 0%);
		.nav {
			display: flex;
			height: 80px;
			align-items: center;
			justify-content: space-between;
			.links > a {
				margin: 20px;
				font-size: 14px;
				color: #8b8989;
				font-weight: normal;
			}
			.accountLogin > .sign-up {
				margin-right: 20px;
			}
		}
	}
}

//Buttons - overall design, used multiple times,
//automacially adjusts width and height to text via padding

button {
	padding: 10px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	border: transparent;
	background-color: transparent;
}

.log-in:hover {
	background-color: #cfcfcf;
}

.sign-up {
	color: #fff;
	background-color: #335cef;
}

.sign-up:hover {
	background-color: #2844ab;
}

.catchPhrase {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50%;
	letter-spacing: 1px;
	text-align: center;
	color: #000;
	transform: translate(-50%, -50%);
	h1 {
		font-size: 90px;
		font-weight: bold;
	}
	p {
		font-size: 25px;
		padding: 30px 0px;
	}
	.sign-up {
		font-size: 25px;
	}
}

.everyday-essentials-box {
	position: relative;
	height: 2100px;
	width: 100%;
	background-color: #f4f8ff;
	.card1,
	.card6 {
		background-color: #5079f8;
	}
	.card2,
	.card5 {
		background-color: #fff;
		color: #000;
		p {
			color: #707279;
		}
	}
	.card3 {
		background-color: #ffb341;
	}
	.card4 {
		background-color: #343a46;
	}
}

.rectangle {
	display: flex;
	height: 400px;
	.card-text {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		h2 {
			font-size: 40px;
			font-weight: bold;
		}
		p {
			font-size: 16px;
			padding: 20px 0;
		}
		a {
			color: #fff;
		}
	}
	.card-image {
		img {
			width: 500px;
			height: 500px;
		}
	}
}

.square {
	height: 500px;
	.card-text {
		h2 {
			font-size: 40px;
			font-weight: bold;
		}
		p {
			font-size: 16px;
			padding: 20px 0;
		}
	}
	.card-image {
		display: flex;
		justify-content: center;
	}
}

.investments-box {
	position: relative;
	height: 1500px;
	width: 100%;
	background-color: #ecf2ff;
	.card1 {
		background-color: #343a46;
	}
	.card2 {
		background-color: #5079f8;
	}
	.card3 {
		background-color: #fff;
		color: #000;
	}
	.trust {
		position: absolute;
		left: 50%;
		top: 1200px;
		transform: translate(-50%, 0%);
		text-align: center;
		button {
			font-size: 30px;
			margin: 20px;
		}
		p {
			font-size: 40px;
			font-weight: bold;
		}
	}
}

footer {
	max-width: 1200px;
	margin: 0 auto;
	color: #fff;
	padding: 20px;
	overflow: hidden;

	.footer-content {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		.footer-left {
			flex-basis: 50%;
			margin-bottom: 20px;
			.footer-logo {
				height: 30px;
				margin-bottom: 30px;
				font-size: 30px;
				font-weight: bold;
			}
			.footer-description {
				button {
					margin: 20px 0;
					margin-bottom: 40px;
				}
			}
		}
		.footer-links {
			flex-basis: 50%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-top: 40px;
			img {
				width: 150px;
				height: 45px;
			}
		}
		.footer-link {
			text-decoration: none;
			color: #fff;
			padding-right: 20px;
		}
		.footer-line {
			flex-grow: 1;
			height: 1px;
			background-color: #666;
			margin: 10px 10px 0px 0px;
		}
		.footer-copyright {
			display: flex;
			flex-basis: 100%;
			margin-top: 40px;
			justify-content: space-between;
			div {
				i {
					padding-right: 10px;
				}
				i:hover {
					color: #5079f8;
				}
			}
		}
	}
}
